:root {
  --root-breakpoint-2xl: 1440px;
  --root-breakpoint-3xl: 1800px;
  --root-breakpoint-lg: 1024px;
  --root-breakpoint-md: 768px;
  --root-breakpoint-sm: 640px;
  --root-breakpoint-xl: 1280px;
  --root-breakpoint-xs: 480px;
  --root-color-aqua: #45a57c;
  --root-color-aqua-dark: #368161;
  --root-color-black: #000000;
  --root-color-charcoal: #42484d;
  --root-color-chocolate: #846550;
  --root-color-cobalt: #627691;
  --root-color-cobalt-dark: #495b72;
  --root-color-consistensea: #3897a8;
  --root-color-consistensea-dark: #2b7582;
  --root-color-consistensea-light: #ebf4f6;
  --root-color-curious-blue: #3380a7;
  --root-color-ivory: #f7f6f6;
  --root-color-ivory-dark: #edefef;
  --root-color-lavender: #908ec7;
  --root-color-lavender-dark: #7a76bc;
  --root-color-muave: #9e8f93;
  --root-color-obsidian: #1c1d20;
  --root-color-ocean: #6599b3;
  --root-color-ocean-dark: #4c809a;
  --root-color-onyx: #202124;
  --root-color-plum: #977f97;
  --root-color-plum-dark: #7e677e;
  --root-color-pumpkin: #dd7936;
  --root-color-red: #ba4534;
  --root-color-silver: #cfd8dc;
  --root-color-sky: #25a0bb;
  --root-color-white: #ffffff;
  --root-font-family-montserrat: Montserrat, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --theme-border-radius-base: 0.3125rem;
  --theme-color-accent-1: var(--root-color-aqua);
  --theme-color-accent-1-dark: var(--root-color-aqua-dark);
  --theme-color-accent-2: var(--root-color-ocean);
  --theme-color-accent-2-dark: var(--root-color-ocean-dark);
  --theme-color-accent-3: var(--root-color-plum);
  --theme-color-accent-3-dark: var(--root-color-plum-dark);
  --theme-color-accent-4: var(--root-color-lavender);
  --theme-color-accent-4-dark: var(--root-color-lavender-dark);
  --theme-color-black: var(--root-color-black);
  --theme-color-black-rgb: 0, 0, 0;
  --theme-color-danger: var(--root-color-red);
  --theme-color-gray-100: var(--root-color-ivory-dark);
  --theme-color-gray-200: var(--root-color-silver);
  --theme-color-gray-50: var(--root-color-ivory);
  --theme-color-gray-700: var(--root-color-charcoal);
  --theme-color-gray-800: var(--root-color-onyx);
  --theme-color-gray-900: var(--root-color-obsidian);
  --theme-color-heading: var(--root-color-chocolate);
  --theme-color-info: var(--root-color-consistensea);
  --theme-color-link: var(--root-color-curious-blue);
  --theme-color-muted: var(--root-color-muave);
  --theme-color-primary: var(--root-color-consistensea);
  --theme-color-primary-dark: var(--root-color-consistensea-dark);
  --theme-color-primary-light: var(--root-color-consistensea-light);
  --theme-color-secondary: var(--root-color-white);
  --theme-color-secondary-dark: var(--root-color-ivory-dark);
  --theme-color-success: var(--root-color-aqua);
  --theme-color-warning: var(--root-color-pumpkin);
  --theme-color-white: var(--root-color-white);
  --theme-color-white-rgb: 255, 255, 255;
  --theme-font-family-base: var(--root-font-family-montserrat);
  --theme-font-size-2xl: 1.5rem;
  --theme-font-size-2xl-line-height: 2rem;
  --theme-font-size-3xl: 1.75rem;
  --theme-font-size-3xl-line-height: 2.25rem;
  --theme-font-size-4xl: 2.125rem;
  --theme-font-size-4xl-line-height: 2.625rem;
  --theme-font-size-base: 1rem;
  --theme-font-size-base-line-height: 1.75rem;
  --theme-font-size-lg: 1.125rem;
  --theme-font-size-lg-line-height: 1.75rem;
  --theme-font-size-sm: 0.875rem;
  --theme-font-size-sm-line-height: 1.5rem;
  --theme-font-size-xl: 1.375rem;
  --theme-font-size-xl-line-height: 1.875rem;
  --theme-font-size-xs: 0.875rem;
  --theme-font-size-xs-line-height: 1.0625rem;
  --theme-font-weight-bold: 700;
  --theme-font-weight-light: 400;
  --theme-font-weight-normal: 500;
  --theme-font-weight-semibold: 600;
  --theme-shadow-box-base: 2px 2px 6px rgba(0, 0, 0, 0.1);
  --theme-shadow-text-base: 0 0 7px rgba(0, 0, 0, 0.55);
  --theme-transition-duration-base: 150ms;
  --theme-transition-timing-function-base: cubic-bezier(0.4, 0, 0.2, 1);
}
